<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Agilní kalendář</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" lang="cs" content="Kalendář agilních konferencí, meetupů a komunitních srazů v ČR a okolí.">
	<meta name="author" content="Lukáš Bednařík">

	<!-- Icons -->
	<link rel="apple-touch-icon" href="http://agilnikalendar.cz/favicon.ico">
	<link rel="shortcut icon" href="http://agilnikalendar.cz/favicon.ico">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="styles/style.css">

	<!-- Twitter Card data -->
	<meta name="twitter:card" value="Kalendář agilních konferencí, meetupů a komunitních srazů v ČR a okolí.">

	<!-- Open Graph data -->
	<meta property="og:title" content="Agilní kalendář" />
	<meta property="og:description" content="Kalendář agilních konferencí, meetupů a komunitních srazů v ČR a okolí." />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://agilnikalendar.cz" />
	<meta property="og:image" content="http://agilnikalendar.cz/img/ace-2017.jpg" />

	<!-- Google analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104534530-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-104534530-2');
	</script>

	<!-- Google fonts -->
	<link href="http://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet" type="text/css">
</head>