<!doctype html>
<html lang="cs">
  {% include head.html %}
  <body>
	  <div class="header">
		  <div id="container-header">
		  	<h1>Agilní kalendář</h1>
		  	<p>Nejúplnější kalendář agilních konferencí a komunitních akcí v ČR a na Slovensku!</p>
	  	</div>
  	</div>
  	<div class="content">
      {% include calendar.html %}
      <div class="container">
        <div class="main">
          {{ content }}
        </div>
			  <div class="main twitter">
			  	<h2><a href="https://twitter.com/lukasbednarikcz/lists/czechagile">CzechAgile</a></h2>
			  	<a class="twitter-timeline" data-lang="cs" height="1200" data-chrome="noscrollbar noheader nofooter" width="250" data-dnt="true" data-link-color="#6688ee" href="https://twitter.com/lukasbednarikcz/lists/czechagile?ref_src=twsrc%5Etfw">A Twitter List by ___lbe</a>
			  	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			  </div>
		  </div>
    </div>
    <div class="footer">
      <div id="container-footer">
        <a href="http://lukasbednarik.cz/kontakt" target="_blank">Lukáš Bednařík &copy; 2018</a>
      </div>
    </div>
  </body>
</html>